{#
/**
 * @file dependent_content.html.twig
 * Default theme implementation to present dependent content data.
 *
 * This template is used when viewing dependent content entity.
 *
 * Available variables:
 * - dependent_content: The dependent content entity with limited access to
 *   object properties and methods.
 * - content: All dependent content fields. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 *
 * @see template_preprocess_dependent_content()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'dependent-content',
    'dependent-content--type-' ~ dependent_content.bundle|clean_class,
    not dependent_content.isPublished() ? 'dependent-content--unpublished',
    view_mode ? 'dependent-content--view-mode-' ~ view_mode|clean_class
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {#
    Do not print the label, manage its visibility in field's display options.
    {{ content.label }}
  #}
  {{ title_suffix }}
  {{ content }}
</div>
